@import "https://fonts.googleapis.com/css?family=Exo:300|Source+Sans+Pro";
/* Background changing randomizer */
/*@import "http://true5050.com/2qq7i";*/

* {
  box-sizing: border-box;
  transition: 300ms;
}
/* Main body */
body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #0094FF, #0FF) fixed;
  margin: 20px;
  font-family: "Source Sans Pro";
}
/* Content centering wrapper */
.wrap {
  max-width: 730px;
  margin: 60px auto;
}
/* White box */
.card {
  background: #FFF;
  margin: 0 0 0 130px;
  max-width: 600px;
  padding: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.1);
  display: inline-block;
}
a {
  color: #0094FF;
  text-decoration: none;
}
img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 10px 10px rgba(0,0,0,0.1);
}
header h1 {
  margin: 20px;
  font-family: "Exo";
  font-weight: 300;
  text-align: center;
  font-size: 32px;
  /* Those cool looking things */
}
@media (min-width: 462px) {
  header h1::before,
  header h1::after {
    content: "— ";
    color: #0094FF;
  }
  header h1::after {
    content: " —";
  }
}
h2,
p {
  margin: 30px 0;
}
.wrap > p:last-child {
  margin-bottom: 0;
}
.jumbo > :first-child,
.jumbo > :last-child {
  margin: 20px 0;
}
/* Navigation list */
nav {
  /* List wrapper - do nothing */
  /* List item - do mostly nothing */
  /* List link */
  /* Colors */
  /**/
}
nav ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  /* Collapse on small screens */
}
@media (min-width: 400px) {
  nav li {
    display: inline-block;
  }
}
nav a {
  display: block;
  position: relative;
  margin: 0;
  padding: 10px;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #DDD;
}
nav a:hover,
nav a.active {
  border-color: #0094FF;
}
nav li:nth-of-type(1) a:hover,
nav li:nth-of-type(1) .active {
  border-color: #00D650;
}
nav li:nth-of-type(2) a:hover,
nav li:nth-of-type(2) .active {
  border-color: #FF9B00;
}
nav li:nth-of-type(3) a:hover,
nav li:nth-of-type(3) .active {
  border-color: #FF0094;
}
.jumbo {
  background: #F7F7F7;
  margin: 30px -30px;
  padding: 10px 30px;
}
/* Intro animation */
@keyframes slide-in {
  from {
    opacity: 0;
    top: 100vh;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.wrap {
  position: relative;
  animation: slide-in 1.5s 1s backwards;
}
