*, *::before, *::after { box-sizing: border-box }
html {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #0094FF, #0FF);
}
body {
    margin: 0;
    font-family: "Open Sans", "Helvetica", sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
.wrap {
    display: inline-block;
    max-width: 400px;
    padding: 30px 10px;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    color: #FFF;
}

.avatar {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

h1 {
    font-family: "Exo", "Trebuchet MS", sans-serif;
    font-weight: 300;
    margin: 50px 0 25px;
}
@media screen and (min-width: 250px) {
    h1::before, h1::after {
        content: " \2014  ";
    }
}
.tagline {
    margin: 0 0 .5em;
}
.tagline:last-of-type {
    margin: 0 0 50px;
}

.social-row {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px -10px;
}
.social-row li {
display: inline-block;
    margin: 0 10px 10px;
    flex: 0 1 60px;
    height: 60px;
}
.social-row a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFF;
    box-shadow: inset 0 0 0 1px #FFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    padding-top: 25px;
}
.social-row a:hover { filter: contrast(75%) } /* I refuse to prefix because I don't give a shit */
.social-row img {
    width: 100%;
    height: calc(100% + 25px);
    filter: contract(100%);
    transition: filter 200ms;
    margin-top: -25px;
}
