<ul class="posts flex-cards">
    {% assign sorted = (site.posts | sort: "date") | reverse %}
    {% for post in sorted %}{% if post.title %}{% unless post.name contains "index." %}
    <li class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="details">
            {% if post.date %}
            <span class="date">{{post.date | date: "%B %-d, %Y"}}</span>
            {% endif %}
            {% if post.desc %}
            <span class="desc">{{ post.desc }}</span>
            {% endif %}
        </p>
    </li>
    {% endunless %}{% endif %}{% endfor %}
</ul>
